<div class="my-modal">
    <div class="my-modal-header">
        <h6 class="h6">Редагування працівника</h6>

        <button
          class="close-modal-button" 
          (click)="bsModalRef.hide()">
          <span>&times;</span>
      </button>
    </div>

    <div class="my-modal-body">
        <form
          id="editEmployeeForm"
          [formGroup]="form"
          (ngSubmit)="save()">
          <label class="form-control-label mb16">
            Прізвище:
            <input 
              type="text" 
              class="form-input" 
              formControlName="surname" 
              placeholder="Введіть ваше прізвище">
          </label>

          <label 
            class="form-control-label mb16">
            Ім'я:
            <input 
              type="text" 
              class="form-input" 
              formControlName="name" 
              placeholder="Введіть ваше прізвище">
          </label>

          <label 
            class="form-control-label mb16">
            По-батькові:
            <input 
              type="text" 
              class="form-input" 
              formControlName="patronymic" 
              placeholder="Введіть ваше по-батькові">
          </label>

          <label 
            class="form-control-label mb16">
            Номер телефону:
            <input 
              type="text" 
              class="form-input" 
              formControlName="phoneNumber" 
              placeholder="Введіть ваш номер телефону">
          </label>

          <label 
            class="form-control-label mb16">
            Email:
            <input 
              type="email" 
              class="form-input" 
              formControlName="email" 
              placeholder="Введіть ваш email">
          </label>

          <label class="form-control-label mb16">
            Стать:
            <select 
              formControlName="gender" 
              class="form-input">
              <option [ngValue]="null">Не вказано</option>
              <option [ngValue]="'Male'">Чоловік</option>
              <option [ngValue]="'Female'">Жінка</option>
            </select>
          </label>

          <label 
            class="form-control-label mb16">
            Дата народження:
            <!-- <input 
              type="date" 
              id="dateOfBirth"
              class="form-input" 
              formControlName="dateOfBirth" 
              placeholder="Введіть ваш номер телефону"> -->
          </label>

          <label 
            class="form-control-label mb16">
            Регіон
            <select 
              class="form-input"
              formControlName="unitId"
              (change)="onUnitChange($event)">
                @for(unit of units$ | async; track unit.id)
                {
                    <option 
                      [value]="unit.id">
                      {{unit.name}}
                    </option>
                }
            </select>
          </label>

          <label
            class="form-control-label mb16">
            Департамен
            <select 
              class="form-input "
              formControlName="departmentId">
                @for(department of departments$ | async; track department.id)
                {
                    <option 
                      [ngValue]="department.id">
                      {{department.name}}
                    </option>
                }
            </select>
          </label>
          
          <label 
            class="form-control-label mb16">
            Посада
            <select
              class="form-input"
              formControlName="positionId">
              @for (position of positions$ | async; track position.id) 
              {
                <option
                  [ngValue]="position.id">
                  {{position.name}}
                </option>  
              }
            </select>
          </label>
        </form>

        <button 
          class="btn btn-shadow" 
          type="submit"
          form="editEmployeeForm"
          [class.disabled]="!form.valid"
          [disabled]="!form.valid"
        >Зберегти
        </button>
    </div>
</div>