:host {
  height: 100%;
  display: block;
  padding-bottom: 25px;
}

.department-card__wrapper {
  border: 1px solid var(--primary-color);
  padding: 10px 10px;
  height: 90%;
}

.department-card__wrapper-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  margin-bottom: none;
  padding: 0 20px;
}

.department-card__add-department {
  width: 25%;
  justify-self: end;
}

.department-card_unit {
  background-color: var(--primary-color);
  padding: 5px 20px;
}

.department-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.department-card__underline {
  display: block;
  border: 1px solid var(--primary-color);
  margin: 5px 0;
}

.department-card__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 15px;
  justify-items: center;
}

.department-card__button {
  cursor: pointer;
}
