<div class="my-modal">
    <div class="my-modal-header">
      <h6 class="h6">Редагування департаменту</h6>
  
      <button
        class="close-modal-button" 
        (click)="bsModalRef.hide()">
        <span>&times;</span>
      </button>
    </div>
  
    <div class="my-modal-body">
      <form
        id="editDepartmentFrom"
        [formGroup]="form"
        (ngSubmit)="editDepartment()">  
        <label class="form-control-label mb16">
          Назва:
          <input 
            class="form-input"
            type="text"
            formControlName="name"
            placeholder="Введіть назву регіону">
        </label>
      </form>
      
      <button 
        class="btn btn-shadow" 
        type="submit"
        form="editDepartmentFrom"
        [class.disabled]="!form.valid"
        [disabled]="!form.valid"
      >Зберегти
      </button>
    </div>
  </div>