<div class="text-center">
    <div class="row">
        @for (item of administrations; track $index)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card shadow mb-3">
                    <div class="row">
                        <div class="col">
                            <div class="card-body p-5">
                                <div routerLink="{{item.path}}">
                                    <div class="row">
                                        <div class="col">
                                            <img [src]="getIconSrc(item.icon)" alt="logo" class="mb16">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="h6">
                                                {{item.title}}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
