<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h6 class="h6">Додати регіон</h6>
      </div>

      <div class="col-1">
        <button
          class="btn-close"
          (click)="bsModalRef.hide()">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form
          [formGroup]="form"
          (ngSubmit)="createEmployeeRoleUnit()"
          id="createEmployeeRoleUnitForm">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <select
                  class="form-control form-control-sm"
                  formControlName="unitId"
                  id="unit">
                  <option value="null">Оберіть регіон</option>
                  @for (unit of units(); track unit.id) {
                    <option value="{{unit.id}}">{{ unit.name }}</option>
                  }
                </select>

                <label class="form-label" for="unit">
                  Регіон:
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-end">
              <button
                class="btn btn-lavender"
                type="submit"
                form="createEmployeeRoleUnitForm"
                [class.disabled]="!form.valid"
                [disabled]="!form.valid"
              >Зберегти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
