<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h6 class="h6">Редагування посади</h6>
      </div>

      <div class="col-1">
        <button class="btn-close" (click)="bsModalRef.hide()">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form 
          id="editPositionFrom" 
          [formGroup]="form" 
          (ngSubmit)="updatePosition()">
          <div class="form-floating mb-3">
            <input 
              id="name" 
              class="form-control" 
              type="text" 
              formControlName="name">

            <label 
              class="form-label" 
              for="name">
              Назва:
            </label>
          </div>

          <div class="form-floating mb-3">
            <input 
              class="form-control" 
              type="text" 
              id="description" 
              formControlName="description">

            <label 
              class="form-label"
              for="description">
              Опис:
            </label>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-end">
              <button 
                class="btn btn-primary" 
                type="submit" 
                form="editPositionFrom" 
                [class.disabled]="!form.valid"
                [disabled]="!form.valid"
                >Зберегти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>