<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <form
            id="changePasswordForm"
            [formGroup]="form"
            (ngSubmit)="form.valid && savePassword()">
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="oldPassword"
                    formControlName="oldPassword"
                    [type]="isOldPasswordVisible() ? 'text' : 'password'">

                  <button
                    type="button"
                    class="password-eye-btn"
                    (click)="isOldPasswordVisible.set(!isOldPasswordVisible())">

                    <i class="bi bi-eye-slash-fill"
                       *ngIf="isOldPasswordVisible()">
                    </i>

                    <i class="bi bi-eye-fill"
                       *ngIf="!isOldPasswordVisible()">
                    </i>
                  </button>

                  <label
                    class="form-label"
                    for="oldPassword">
                    Старий пароль:
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="newPassword"
                    formControlName="newPassword"
                    [type]="isNewPasswordVisible() ? 'text' : 'password'">

                  <button
                    type="button"
                    class="password-eye-btn"
                    (click)="isNewPasswordVisible.set(!isNewPasswordVisible())">

                    <i class="bi bi-eye-slash-fill"
                       *ngIf="isNewPasswordVisible()">
                    </i>

                    <i class="bi bi-eye-fill"
                       *ngIf="!isNewPasswordVisible()">
                    </i>
                  </button>

                  <label
                    class="form-label"
                    for="newPassword">
                    Новий пароль:
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    class="form-control"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    [type]="isConfirmPasswordVisible() ? 'text' : 'password'">

                  <button
                    type="button"
                    class="password-eye-btn"
                    (click)="isConfirmPasswordVisible.set(!isConfirmPasswordVisible())"
                    [class.active]="isConfirmPasswordVisible()">

                    <i class="bi bi-eye-slash-fill"
                       *ngIf="isConfirmPasswordVisible()">
                    </i>

                    <i class="bi bi-eye-fill"
                       *ngIf="!isConfirmPasswordVisible()">
                    </i>
                  </button>

                  <label
                    class="form-label"
                    for="confirmPassword">
                    Підтвердіть новий пароль:
                  </label>
                </div>
              </div>
            </div>

            <div *ngIf="form.errors?.['passwordsNotMatch'] && form.get('confirmPassword')?.touched">
              <p style="color: var(--pink-color)">Новий пароль та підтверджений пароль не співпадають</p>
            </div>

            <div class="row justify-content-end">
              <div class="col-lg-6 col-md-6">
                <div class="form-floating mb-3 d-flex justify-content-end">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    form="changePasswordForm"
                    [disabled]="form.invalid"
                  > Зберегти
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
