
<div class="card">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col">
        <h6 class="h6">Додати роль</h6>
      </div>

      <div class="col-1">
        <button class="btn-close" (click)="bsModalRef.hide()">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <form
          (ngSubmit)="createEmployeeRole()"
          [formGroup]="form"
          id="createEmployeeRole">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <select
                  class="form-control form-control-sm"
                  formControlName="roleId"
                  id="role">
                  <option value="null">Оберіть роль</option>
                  @for (role of roles(); track role.id) {
                    <option value="{{role.id}}">{{ role.title }}</option>
                  }
                </select>

                <label class="form-label" for="role">
                  Роль:
                </label>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <select
                  class="form-control form-control-sm"
                  formControlName="unitId"
                  id="unit"
                  (change)="onUnitChange($event)">
                  <option value="null">Оберіть регіон</option>
                  @for (unit of units(); track unit.id) {
                    <option value="{{unit.id}}">{{ unit.name }}</option>
                  }
                </select>

                <label class="form-label" for="unit">
                  Регіон:
                </label>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    [disabled]="!form.get('unitId')?.value || form.get('unitId')?.value === 'null'">
                    Оберіть департаменти:
                  </button>

                  <!-- Список чекбоксів -->
                  <ul class="dropdown-menu" aria-labelledby="multiSelectDropdown">
                    <li *ngFor="let department of departments()" class="dropdown-item">
                      <div *ngIf="form" class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [id]="'department_' + department.id"
                          [checked]="isSelected(department.id)"
                          (change)="toggleSelection(department.id)">

                        <label
                          class="form-check-label"
                          [for]="'department_' + department.id">
                          {{ department.name }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col d-flex justify-content-end">
              <button
                class="btn btn-lavender"
                type="submit"
                form="createEmployeeRole"
                [class.disabled]="!form.valid"
                [disabled]="!form.valid"
              >Зберегти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
