.dropdown-menu {
  max-height: 200px; /* Визначте максимальну висоту */
  overflow-y: auto; /* Додайте вертикальну прокрутку */
}

.dropdown-item {
  cursor: pointer;
}

.form-check-input {
  margin-right: 0.5em;
}

.form-check,
form-check-label {
  cursor: pointer;
}
