<div class="row bg-primary g-0 p-1 justify-content-between align-items-center">
  <div class="col-2 d-flex align-items-center">
    <img src="/assets/icons/cube.svg" alt="Logo">
    <h3 class="text-light ms-2 mb-0">ShiftTrack</h3>
  </div>

  <div class="col-auto">
    <div class="dropdown account">
      <button
        type="button"
        class="btn btn-primary d-flex align-items-center justify-content-center"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="text-white" *ngIf="currentUser; else loading">
         {{ currentUser.employee.surname }}  {{ currentUser.employee.name.charAt(0) }}.
        </span>
        <ng-template #loading>
          <span class="text-white">Завантаження...</span>
        </ng-template>
      </button>

      <ul class="dropdown-menu bg-body-tertiary">
        <li>
          <a class="dropdown-item text-primary" routerLink="/administration/profile">
            <img src="/assets/icons/profile.svg" alt="Profile">
            Профіль
          </a>
        </li>

        <li>
          <a class="dropdown-item text-primary" routerLink="/administration/change-password">
            <img src="/assets/icons/password.svg" alt="Password">
            Змінити пароль
          </a>
        </li>

        <li>
          <a class="dropdown-item text-primary" (click)="logOut()">
            <img src="/assets/icons/log_out.svg" alt="Log out">
            Вихід
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
