<app-go-back path="/administration"></app-go-back>

<div class="card shadow">
  <div class="card-header">
    <div class="row align-items-end">
      <div class="col-3">
        <strong>
          Код
        </strong>
      </div>

      <div class="col">
        <strong>
          Назва
        </strong>
      </div>

      <div class="col">
        <strong>
          Опис
        </strong>
      </div>
    </div>
  </div>

  <div class="card-body pt-0 position-relative overflow-auto">
    @if (isLoading()) {
      <div class="spinner-overlay">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }

    @for (unit of units(); track unit.id; let index = $index) {
      <div
        class="row pt-3 pb-3"
        [ngClass]="{ 'bg-body-tertiary': index % 2 !== 0 }">
        <div class="col-3 text-truncate">
          <strong> {{ unit.code }}</strong>
        </div>

        <div class="col text-truncate">
          {{ unit.name }}
        </div>

        <div class="col text-truncate">
          {{ unit.description }}
        </div>

        <div class="col-1 d-flex justify-content-between">
          <i class="bi bi-pencil"
             (click)="openEditUnitModal(unit)"
          ></i>

          <i class="bi bi-trash"
             (click)="openDeleteConfirmation(unit)"
          ></i>
        </div>
      </div>
    }
  </div>

  <button class="floating-action-button">
    <i class="bi bi-plus"
       (click)="openCreateUnitModal()"></i>
  </button>
</div>
