h1 {
  color: var(--primary-color);
}

.login-container {
  background-image: url("/background_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--light-color);
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--primary-color);
}

.login-container a {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.login-container a:hover {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
