<div class="card w-75">
    <div class="card-header bg-primary">
        <h6 class="h6">Ролі співробітника</h6>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="h6">
                                    <strong>        
                                        Кушнір Тетяна Вікторівна
                                    </strong>
                                </h6>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/icons/phone_sm.svg" alt="logo"><span>+380978448842</span>
                            </div>
    
                            <div class="col-4">
                                <img src="/assets/icons/administration_units.svg" alt="logo"><span>Хмельницький регіон</span>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/icons/email_sm.svg" alt="logo"><span>tanyagmail.com</span>
                            </div>
    
                            <div class="col-4">
                                <img src="/assets/icons/administration_departments.svg" alt="logo"><span>ТРЦ Оазис</span>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/icons/administration_positions.svg" alt="logo"><span>Адмін</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-flex justify-content-end">
                <button class="btn btn-primary">Призначити роль</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <strong>Назва</strong>
                            </div>

                            <div class="col">
                                <strong>Тип</strong>
                            </div>

                            <div class="col">
                                <strong>Юніт</strong>
                            </div>

                            <div class="col">
                                <strong>Департамент</strong> 
                            </div>

                            <div class="col-2">

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <strong>Адмін</strong>
                            </div>

                            <div class="col">
                                Глобальна
                            </div>

                            <div class="col">
                                -
                            </div>

                            <div class="col">
                                -
                            </div>

                            <div class="col-1">
                                <img class="action-btn-icon" src="/assets/icons/edit.svg" alt="edit">
                            </div>

                            <div class="col-1">
                                <img class="action-btn-icon" src="/assets/icons/delete.svg" alt="delete">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <strong>HR</strong>
                            </div>

                            <div class="col">
                                Локальна
                            </div>

                            <div class="col">
                                Хмельницький регіон
                            </div>

                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        ТРЦ Оазис
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        ТРЦ Квартал
                                    </div>
                                </div>
                            </div>

                            <div class="col-1">
                                <img class="action-btn-icon" src="/assets/icons/edit.svg" alt="edit">
                            </div>

                            <div class="col-1">
                                <img class="action-btn-icon" src="/assets/icons/delete.svg" alt="delete">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>