.nav {
  padding-top: 0;
}

.logo {
  background: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-menu-list a {
  text-decoration: none;
  width: 90%;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--primary-color);
  display: grid;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--primary-color);
    color: var(--light-color);
    border-radius: 10px;

    i {
      color: white;
    }
  }
}
