<div>
    <div class="logo">
        <img
          src="/assets/icons/cube.svg"
          alt="Logo">
        
        <h2>ShiftTrack</h2>
    </div>
    
    <nav class="mt10">
        <ul class="main-menu-list">
            @for (item of menuItems; track $index) 
            {
                <li>
                    <a class="menu-item"
                       routerLink="{{item.link}}"
                       routerLinkActive="active">
                        <img [src]="getMenuIconSrc(item.icon)">
                        <span>{{item.label}}</span> 
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>