<div class="color-picker-container">
  <button 
    type="button"
    class="color-preview d-inline-block rounded border" 
    [ngStyle]="{'background-color': color}" 
    (click)="toggleDropdown()">
  </button>

  <div class="color-dropdown" *ngIf="dropdownOpen">
    <div class="color-options">
      <button 
        type="button"
        *ngFor="let c of colors" 
        [ngStyle]="{'background-color': c}" 
        class="color-option rounded border"
        (click)="selectColor(c)">
      </button>
    </div>
  </div>
</div>
