<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card shadow">
        <div class="row">
          <div class="col">
            <div class="card-body">
              <form 
                class="edit-profile-card" 
                id="editProfileForm" 
                [formGroup]="form" 
                (ngSubmit)="save()">

                <div class="row justify-content-around">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <input 
                        class="form-control" 
                        id="surname" 
                        type="text" 
                        formControlName="surname">

                      <label 
                        class="form-label" 
                        for="surname">
                        Прізвище:
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <input 
                        class="form-control" 
                        id="name" 
                        type="text" 
                        formControlName="name">

                      <label 
                        class="form-label" 
                        for="name">
                        Ім'я:
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-around">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <input 
                        class="form-control" 
                        id="patronymic" 
                        type="text"
                        formControlName="patronymic">

                      <label class="form-label" for="patronymic">
                        По-батькові:
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <input 
                        class="form-control" 
                        id="phoneNumber" 
                        type="text" 
                        placeholder="+380XXXXXXXXX">

                      <label 
                        class="form-label" 
                        for="phoneNumber">
                        Телефон:
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-around">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <input 
                        class="form-control" 
                        id="email" 
                        type="email" 
                        placeholder="user@example.com"
                        formControlName="email">

                      <label 
                        class="form-label" 
                        for="email">
                        Email:
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <select
                        formControlName="gender" 
                        class="form-select" 
                        id="gender">
                        <option [ngValue]="null">Не вказано</option>
                        <option [ngValue]="'Male'">Чоловік</option>
                        <option [ngValue]="'Female'">Жінка</option>
                      </select>

                      <label 
                        class="form-label" 
                        for="gender">
                        Стать:
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-start">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3">
                      <input 
                        type="date" 
                        class="form-control" 
                        formControlName="dateOfBirth">

                      <label class="form-label" for="email">
                        Дата народження:
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-end">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-floating mb-3 d-flex justify-content-end">
                      <button 
                        class="btn btn-primary" 
                        type="submit" 
                        form="editProfileForm"
                        [class.disabled]="!form.valid" 
                        [disabled]="!form.valid">
                        Зберегти
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>