.edit-profile {
    background: var(--dark-color);
    padding: 20px;
    display: grid;
    grid-template-rows: auto 50px;
    gap: 20px;
  }
  
  :host form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .edit-profile_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .edit-profile_buttons-submit {
    grid-column: 2;
  }
  