@import "fonts";
@import "margins";

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --primary-hover-color: #a168fd;
  --grey-color: #5f646d;
  --dark-hover-color: #161616;
  --pink-color: #e6268d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-hover-color);
  color: var(--light-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
  justify-content: center;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

.btn.disabled {
  background-color: var(--grey-color);
}

.btn-shadow {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--grey-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.btn-shadow.disabled {
  &:before{
    background: none;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.form-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.form-input {
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 10px 10px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
  width: 100%;
}

.modal {
  height: auto;
  border-radius: 5%;
}

.modal-content {
  background-color: var(--dark-hover-color);
}

.my-modal {
  padding: 25px;
  display: grid;
  grid-template-rows: 30px auto;
  grid-gap: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5%;
}

.my-modal-header {
  display: grid;
  grid-template-columns: auto 30px;
  grid-gap: 15px;
}

.my-modal-body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.close-modal-button {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}
