@import "fonts";
@import "margins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary": #6200ea,
);

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --dark-color: #171717;
  --light-color: #ffffff;
  --primary-color: #6200ea;
  --primary-hover-color: #6200ea;
  --grey-color: #5f646d;
  --dark-hover-color: #212121;
  --pink-color: #e6268d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "JetBrains Mono", sans-serif;
}

.bg-primary {
  background-color: #6200ea !important;
}

.text-primary {
  color: #6200ea !important;
}

.btn {
  color: var(--light-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.h2 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 800;
}

.form-control:hover {
  border-color: var(--primary-color) !important;
  outline: none;
}

.logo {
  height: 200px;
  width: 200px;
}


.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--grey-color);
  cursor: pointer;
}

.password-eye-btn.active {
  color: var(--primary-color);
}

// .modal {
//   height: auto;
//   border-radius: 5%;
// }

// .modal-content {
//   background-color: var(--dark-hover-color);
// }

// .my-modal {
//   padding: 25px;
//   display: grid;
//   grid-template-rows: 30px auto;
//   grid-gap: 20px;
//   border: 1px solid var(--primary-color);
//   border-radius: 5%;
// }

// .my-modal-header {
//   display: grid;
//   grid-template-columns: auto 30px;
//   grid-gap: 15px;
// }

// .my-modal-body {
//   display: grid;
//   grid-template-rows: repeat(3, auto);
//   grid-gap: 20px;
// }

// .close-modal-button {
//   background-color: var(--primary-color);
//   color: var(--dark-color);
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 24px;
//   width: 100%;
//   border-radius: 4px;
//   border: 1px solid var(--dark-color);
//   justify-content: center;
//   cursor: pointer;

//   &:hover {
//     background-color: var(--primary-hover-color);
//   }
// }
