.employees-container {
  display: grid;
  grid-template-rows: 100px auto;
  grid-gap: 10px;
  height: 89%;
  padding-bottom: 25px;
}

.filter-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 25px 25px;
  background: var(--dark-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);

  .form-input {
    margin-top: 0;
  }
}

.profile-card_wrapper-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 15px;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: none;
  padding: 5px 20px;
}

.profile-card_wrapper {
  border: 1px solid var(--primary-color);
  padding: 10px 10px;
  height: 100%;
}

.profile-card {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 15px;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--primary-color);
}

.profile-card_buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 15px;
  justify-items: center;
}

.profile-card_button {
  cursor: pointer;
}

.profile-card_long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
